/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa; /* 背景顏色 */
}

header {
    background: #0078d7;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0 0;
    font-size: 1.2em;
}

main {
    padding: 20px;
    width: 80%;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #0078d7;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #0078d7;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    margin-top: 20px;
}

#autobiography {
    margin-top: 20px;
}
